<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{d/L/YY h:mm:ss: a} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE_SOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
  
  <file>logs/loggingproject.log</file>
  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  <fileNamePattern>logs/loggingproject-%d{yyyy-MM-dd}.log</fileNamePattern>
  <maxHistory>30</maxHistory>
  </rollingPolicy>
  
  <encoder>
      <pattern>%d{d/L/YY h:mm:ss: a} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
    
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
  
  <logger name="com.log" level="trace" additivity="false">
  	<appender-ref ref="FILE_SOUT" />
  	
  
  </logger>
</configuration>